<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="news-list"
      {% if include.limit and site.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw; overflow-y: auto;"
      {% endif %}
    >
      {% assign news = site.news | reverse %}
      {% if include.limit and site.announcements.limit %}
        {% assign news_limit = site.announcements.limit %}
      {% else %}
        {% assign news_limit = news_size %}
      {% endif %}
      {% for item in news limit: news_limit %}
        <div class="news-item">
          <span class="news-date">{{ item.date | date: '%b %Y' }}</span>
          <div class="news-content">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
