.table_bg {
	BACKGROUND-COLOR: #3d3d3d
}
.table_head {
	BACKGROUND-COLOR: #2d2d2d; COLOR: #f5f3f3
}
.table_col_0 {
	BACKGROUND-COLOR: #0d0d0d; COLOR: #f5f3f3
}
.table_col_1 {
	BACKGROUND-COLOR: #1d1d1d; COLOR: #f5f3f3
}
